nav{
    height: 100px;
    font-size: 1rem;
    overflow: hidden;
}
.main{
    height: 5rem;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.right{
    position: absolute;
    top: 25px;
    right: 30px;
}
.logo, .logos{
    width: 1.5rem;
    height: auto;
}
.mid{
    margin: auto;
    margin-bottom: 10px;
}
.mid a{
    /* margin: 0; */
    font-size: 1rem;
    padding: 0 7px;
}
#one{
    margin: 0 10px;
    font-size: 2rem;
    padding-top: 50px;
}
#two{
    font-size: 1rem;
    margin: 10px 50px;
    padding: 0;
}
.overview{
    margin-top: 15px;
}
.overview::before{
    height: 750px;
}
#order{
    margin: 0;
    padding: 7px 0;
    font-size: 1rem;
    margin-top: 10px;
}
.container h1, .client h1, .contact h1{
    font-size: 1.5rem;
}
.container::before{
    height: 104%;
}
.service{
    flex-direction: column;
}
.clients{
    flex-wrap: wrap;
}
.clients img{
    height: 80px;
    width: 80px;
}
.client::before{
    height: 125%;
}
#skype{
    width: 150px;
    height: auto;
}
#apple{
    height: 150px;
    width: auto;
}
.combine{
    flex-direction: column;
}
.form{
    margin: 10px;
}
.box{
    font-size: 15px;
}
.container img{
    height: 100px;
    width: auto;
}
.form input{
    width: 250px;
}
